.grid-view .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.grid-view img {
    width: 100%;
    height: auto;
}

/* Estilos para la vista de lista (List View) */
.list-view .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
}

.list-view img {
    width: 100%;
    height: auto;
}
